<%- include("partials/header") %>

	<div class="container">
		<div class="container-body">
			<h1 class="header">Edit blogpost</h1> 
			<div> 
				<form action="/api/blog/<%=post._id%>?_method=PUT" method="POST"> 
					<div class="form-title"> 
						<input type="text" id="title" placeholder="Title: " value="<%= post.title %>" name="post[title]" required> 
					</div> 
					<div class="form-content"> 
						<textarea type="text" id="content" placeholder="Blog Content" value="<%= post.content %>" name="post[content]" required><%= post.content %></textarea>
					</div> 
					
					<div> 
						<button class="btn-submit" type="submit">Submit</button> 
					</div> 
				</form> 
			</div> 
		</div>
	</div>
</body> 

</html> 
